.title-slide {
  background-image: url(IE_University_logo.png);
  background-size: 8%;
  background-position: 5% 95%;
}

.title-slide .remark-slide-number {
  display: none;
}

.h1.title {
  font-size: 88px;
}

h1 { /* Header 1 */
  font-size: 88px;
}